<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.solution.plugin.function</id>
    <name><![CDATA[常用函数集合]]></name>
    <active>yes</active>
    <version>6.4</version>
    <env-version>8.0</env-version>
    <jartime>2015-12-20</jartime>
    <vendor email="solution@finereport.com">solution.richie</vendor>
    <description><![CDATA[把一些常用的函数放到插件里面来,方便用户使用]]></description>
    <change-notes><![CDATA[
        [2015-12-02]GetIP函数可以不再传递参数，系统默认计算。<br/>
        [2016-11-21]增加html页面解析系列函数。<a href="https://jsoup.org/cookbook/extracting-data/selector-syntax">语法查询规则可以参考这里</a><br/>
        [2016-07-29]修正StringFetch返回单个元素时最后一个元素取值问题。<br/>
        [2016-07-28]StringFetch函数增加返回数组中指定位置的元素。<br/>
        [2016-07-28]阿拉伯数字转换为英文函数。<br/>
        [2016-07-27]字符串大小写交换函数。<br/>
        [2016-07-12]字符串根据正则表达式抓取符合条件的内容。<br/>
        [2016-07-12]增加字符串拼音首字母获取方式。<br/>
        [2016-05-08]增加常用的加密函数。<br/>
        [2016-05-06]修复StringMath函数匹配正则表达式的错误。<br/>
        [2016-04-13]增加javascript脚本函数。<a href="http://help.finereport.com/doc-view-1493">使用教程参见这里</a>。<br/>
        [2016-03-22]数学统计函数。<br/>
        [2016-03-21]JSON内容查询函数。<a href="https://github.com/tyro668/JsonPath">查询语法参见这里</a>。<br/>
        [2016-02-02]字符串反转函数。<br/>
        [2016-02-02]字符串匹配函数。<br/>
        [2016-02-02]函数返回值处理函数。<br/>
        [2016-02-02]字符串转拼音函数。<br/>
        [2015-12-02]访问报表的IP地址函数。<br/>
    ]]></change-notes>
    <extra-core>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.string.StringReverse" name="StringReverse" description="反转字符串"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.string.StringFind" name="StringFind" description="查找字符串包含的字字符串的索引。StringFind(&quot;have a good time&quot;, &quot;a&quot;)，返回a在字符串中第一次出现的位置，函数可以传递第三个参数，false表示从尾部开始查找。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.string.StringMatch" name="StringMatch" description="判断字符串是否符合特定的正则表达式。StringMatch(&quot;abcdefg&quot;, &quot;bc&quot;)返回true。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.string.StringFetch" name="StringFetch" description="根据正则表达式提取符合的字符串，最终返回一个数组，如果有第三个参数，则表示返回数组中第三个参数表示的索引位置的值。StringFetch(&quot;2012-08-12 2012-12 abcde 2012-08-23&quot;, &quot;\\d{4}[ /-]{1}\\d{2}([ /-]{1}\\d{2})?&quot;)将返回2012-08-12,2012-12,2012-08-23。StringFetch(&quot;2012-08-12 2012-12 abcde 2012-08-23&quot;, &quot;\\d{4}[ /-]{1}\\d{2}([ /-]{1}\\d{2})?&quot;, 2)将返回2012-08-23。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.string.StringPinyin" name="StringPinyin" description="输出给定字符串的拼音。StringPinyin(&quot;你好啊&quot;, &quot;  &quot;, 1)返回这个字符串的拼音。第二哥参数表示拼音之间的间隔符，第三个参数表示拼音的输出格式，1表示不输出音调，-1表示音调用数字表示。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.string.StringConditionConcat" name="StringConditionConcat" description="根据条件拼接给定数组中的符合条件的元素，内置参数index表示索引位置，item表示元素值。StringConditionConcat([&quot;两个&quot;, &quot;b&quot;, &quot;黄鹂&quot;, &quot;asd&quot;, &quot;鸣翠柳&quot;], index % 2 = 1)将会输出两个黄鹂鸣翠柳。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.string.StringShortPinyin" name="StringShortPinyin" description="输出给定字符串的拼音首字母(小写)。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.string.StringSwapCase" name="StringSwapCase" description="交换字符串中字母的大小写。StringSwapCase(&quot;abcDeFg&quot;, &quot;bc&quot;)返回ABCdEfG。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.GetIP" name="GetIP" description="传递内置的sessionID参数，获取IP地址"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.ProcessErrorValue" name="ProcessErrorValue" description="处理返回错误值的公式。ProcessErrorValue(SQRT(), &quot;错误的值&quot;)，由于SQRT函数没有给定参数，直接使用的情况下是会返回#NAME的，而用了这个函数，就会返回第二个参数给定的值了（默认为空字符串）。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.JSONPathFinder" name="JSONPathFinder" description="根据JSON查询语句从给定的JSON内容中查询出结果。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.MathFrequency" name="MathFrequency" description="统计单词出现的次数和平率。MathFrequency([1, 3, 2, 4, 2], 3)返回1，表示数组中3出现了一次，如果给定了第三个参数，则返回0.2，表示3出现的频率为0.2。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.MathVariance" name="MathVariance" description="求数组中元素的方差。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.MathStandardDeviation" name="MathStandardDeviation" description="求数组中元素的标准差。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.MathSumOfSquares" name="MathSumOfSquares" description="求数组中元素的平方和。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.MathGeometricMean" name="MathGeometricMean" description="求数组中元素的几何平均数。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.MathMean" name="MathMean" description="求数组中元素的算术平均数。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.ScriptEval" name="ScriptEval" description="函数中支持JavaScript脚本。ScriptEval()"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.image.GenerateImage" name="Image" description="将给定的参数转换为图片，支持本地文件、远程文件以及相对路径。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.encode.ShaHex" name="EncryptShaHex" description="SHA加密"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.encode.Sha256Hex" name="EncryptSha256Hex" description="SHA256加密"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.encode.Sha384Hex" name="EncryptSha384Hex" description="Sha384加密"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.encode.Sha512Hex" name="EncryptSha512Hex" description="Sha512加密"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.encode.MD5Hex" name="EncryptMD5Hex" description="MD5加密"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.encode.EncryptDes" name="EncryptDes" description="DES加密。第一个参数为要加密的文本，第二个参数为加密的key。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.encode.DecryptDes" name="DecryptDes" description="DES解密。第一个参数为要解密的文本，第二个参数为解密所需要的key。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.unit.NumberToEnglish" name="NumberToEnglish" description="将数字翻译成英文。NumberToEnglish(&quot;1234567&quot;)将返回One Million, Two Hundred And Thirty-Four Thousand, Five Hundred And Sixty-Seven。"/>
        <FunctionDefineProvider class="com.fr.solution.plugin.function.html.HtmlFinder" name="HtmlFinder" description="Html页面元素查找函数。第一个参数为要查找的html页面的地址，第二个参数为查询的dom标记。HtmlFinder(&quot;http://www.baidu.com&quot;, &quot;a[href]&quot;)可以查找到baidu首页的所有超级链接内容。其他语法规则可以参看这里：https://jsoup.org/cookbook/extracting-data/selector-syntax."/>
    </extra-core>
    <extra-report>

    </extra-report>
    <extra-platform/>
    <extra-designer>

    </extra-designer>
</plugin>